.container{
    box-shadow: 0 5px 10px black;
    width: 450px;
    height: 300px;
    margin: 100px auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.container img{
    width: inherit;
    height: inherit;
    border-radius: 10px;
    transition: all 0.8s;
}
.container:hover img{
    transform: scale(0.8,0.8);
}
.container .content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    width: 50%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-left:10px;
    transform: perspective(400px) rotateY(-90deg);
    transform-origin: right;
    transition: all 0.5s;
}
.container:hover .content{
    transform: perspective(400px) rotateY(0deg);
}
body{
    background-color: lightseagreen;
}
